venv/
dashboards.html
dashborts.html

g.html

# Virtualenv
venv/

# Environment variables
.env

# Python
__pycache__/
*.pyc
*.pyo

# Django
staticfiles/
media/

# Logs
*.log

# OS
.DS_Store
Thumbs.db
*.sqlite3
*.sql

.env/
*.sqlite3
staticfiles/
*.sql
*.ps1
__pycache__/
*.pyc
*.pyo
*.pyd

.env.env
__pycache__/
*.pyc

